@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    text-align: center;
}

nav a {
    padding-top: 10px;
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    background-color: rgb(135, 206, 235);
    color: #000;
}

nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
}

.GameContainer {
    background-image: url('https://github.com/Shahroz-Codes/Javascript-Mini-Projects/blob/main/Snake-Game/assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    top: 59px;
    left: 200px;
}

.GameContainer .items div button {
    padding-top: 10px;
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    background-color: rgb(135, 206, 235);
    color: #000;
}

.GameContainer div button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: #00eaff;
    transition: .5s;
}



.stats {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 33px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

.GameBoard {
    background: linear-gradient(rgb(104, 235, 226), rgb(204, 220, 220));
    height: 92vmin;
    width: 90vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    border: 2px solid;
}

.head {
    background-color: red;
}

.food {
    background-color: yellow;
}

.snakebody {
    background-color: purple;
}