*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
    background-color: #212121;
    color: aliceblue;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: oblique;
}
.list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
a{
    background-color: rgba(215, 213, 211, 0.475);
    border-radius: 10px;
    padding: 5px 10px;
    
    text-decoration: none;
    color: aliceblue;
}